.form__container {
  padding: 2rem 1rem;
  flex-grow: 1;
  background-color: var(--color-background);
}

.form__title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__help {
  --color: rgba(255, 255, 255, 0.7);
  color: var(--color);
  margin-top: 2rem;
  font-size: 0.833rem;
  line-height: 1.5;
}
