.custom-link:link,
.custom-link:visited {
  display: inline-block;
  text-decoration: none;
}

.custom-link--logo:link,
.custom-link--logo:visited {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color-primary);
}

.custom-link--forgot:link,
.custom-link--forgot:visited,
.custom-link--primary:link,
.custom-link--primary:visited {
  color: var(--color-white);
  padding: 0.75rem 0;
  width: 100%;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
}

.custom-link--forgot:link {
  background-color: var(--color-text);
}

.custom-link--primary:link {
  padding: 0.75rem 1rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.custom-link--navigation:link,
.custom-link--navigation:visited {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;
}

.custom-link--navigation span {
  transition: 0.3s;
}

.custom-link--navigation:hover span {
  transform: translateX(1rem);
}

.custom-link--help:link,
.custom-link--help:visited,
.custom-link--navigation:link,
.custom-link--navigation:visited {
  color: var(--color-text);
  font-weight: 500;
  transition: 0.3s;
}

.custom-link--help:hover {
  text-decoration: underline;
}

.custom-link--dashboard:link,
.custom-link--dashboard:visited {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.custom-link--street:link,
.custom-link--street:visited {
  background-color: var(--color-primary);
  color: var(--color-white);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 1rem;
}

.custom-link--menu:link,
.custom-link--menu:visited {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  font-size: 0.83rem;
  color: var(--color-black);
}

.custom-link--menu:link svg,
.custom-link--menu:visited svg {
  font-size: 1.25rem;
  color: var(--color-primary);
}
