.custom-link:link,
.custom-link:visited {
  display: inline-block;
  text-decoration: none;
}

.custom-link--logo:link,
.custom-link--logo:visited {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color-primary);
}

.custom-link--forgot:link,
.custom-link--forgot:visited {
  color: var(--color-white);
  background-color: #232222;
  padding: 0.75rem 0;
  width: 100%;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
}

.custom-link--help:link,
.custom-link--help:visited,
.custom-link--navigation:link,
.custom-link--navigation:visited {
  --color: #232222;
  color: var(--color);
  font-weight: 500;
  transition: 0.3s;
}

.custom-link--help:hover {
  text-decoration: underline;
}
