.address {
  position: relative;
  padding: 1rem;
  background-color: var(--color-navigation-background);
  border-bottom: 1px solid var(--color-black);
}

.address__street {
  font-weight: 500;
}

.address__summary {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.packages {
  background-color: var(--color-primary);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-white);
  border: 1px solid var(--color-black);
}

.address__customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address__cod {
  font-weight: 700;
  font-size: 0.833rem;
}
