.nav-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  list-style-type: none;
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  z-index: 9999;
}

.nav-item-icon {
  color: var(--color-primary);
  font-size: 1.25rem;
}
