.summary {
  font-size: 0.833rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: var(--color-navigation-background);
  padding: 1rem;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.pack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.action {
  margin-top: 1rem;
}
