.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  gap: 2rem;
}

.icon {
  font-size: 7rem;
}

.form {
  flex-grow: 1;
  align-self: stretch;

  display: flex;
  flex-direction: column;
}
