.container {
  padding: 1rem;
}

.links {
  height: 3.5rem;
  padding: 2px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
}

.links:not(:last-child) {
  margin-bottom: 1rem;
}

.links__summary {
  display: flex;
  align-items: center;
  padding: 2px;
  gap: 0.25rem;
  margin-left: auto;
}

.links--red {
  background-color: var(--color-error);
}
