.fullpagespinner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 5rem;
  height: 5rem;

  animation: rotate 1.5s linear infinite;
}

.mini-spinner {
  width: 1.5rem;
  height: 1.5rem;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
