.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.button--form {
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 0.75rem 0;
  width: 100%;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
}

.button--language-select {
  background-color: var(--color-primary);
  height: 100%;
  position: absolute;
  top: 0;
  right: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  border-radius: 4px;
}

.button--menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--menu svg {
  font-size: 1.25rem;
}

.button--primary,
.button--cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  border-radius: 4px;
  background-color: var(--color-primary);
  padding: 1rem;
  color: var(--color-white);
  font-weight: 500;
  width: 100%;
}

.button--primary {
  background-color: var(--color-primary);
}

.button--back {
  background-color: var(--color-primary);
  padding: 0 1rem;
  align-self: stretch;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--back svg {
  font-size: 1rem;
  color: var(--color-white);
}

.button--more {
  background-color: var(--color-text);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

.button--more svg {
  font-size: 1rem;
  color: var(--color-white);
}

.button--menu {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.button--menu svg {
  color: var(--color-primary);
}

.button--summary {
  background-color: var(--color-primary);
  color: var(--color-white);
  align-self: center;
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.button--cancel {
  background-color: var(--color-error);
}

.button--delivery-status {
  background-color: var(--color-navigation-background);
  width: 100%;
  padding: 1rem;
  font-weight: 500;
}
